.calculater{
    background-color: gray;
    height:70%;
    width: 70%;   
}

.cal-screen{
   height:30%;
   background-color: transparent;
   padding:20px 5px;
}

.cal-screen-display{
    height: 100%;
    width: auto;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-left: 3%;
    font-size: 50px;
}
.cal-pannel{
    height:70%;
    background-color:transparent;
    padding: 5px;
}
.cal-pannel-keyboard{
    height:100%;
    width: auto;
    background-color: white;
    display: flex;
}

.cal-pannel-keyboard-pannel{
 
    width: 69%;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1%;
}
.cal-pannel-keyboard-pannel-buttons{
      background-color: white;
      color:black;
      font-size: 30px;
      box-shadow: 0px 0px 30px blue;
}
.cal-pannel-keyboard-operations{
    width: 30%;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1%;
}
.cal-pannel-keyboard-operations-buttons{
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 30px red;

}

.cal-pannel-history{
    width: 30%;
    background-color: transparent;
    display: none;
    box-shadow: 0px 0px 30px orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#showhistory{
    background-color: white;
    font-size: 20px;
}